config HALL
    tristate "Enable HALL IC"
    default n
    help
      Say Y here if you want to enable Hall IC Feature
      and send a event when cover state is changed.
      Active gpio state is low and active event value is 0.

      If unsure, say N.

config CERTIFY_HALL
    tristate "Enable CERTIFY HALL IC"
    default n
    help
      Say Y here if you want to enable Certify Hall IC Feature and
      send a event when cover is detected.
      Active gpio state is low and active event value is 1.

      If unsure, say N.

config EMULATE_HALL_IC
    tristate "Enable EMULATE HALL IC"
    default n
    help
      Say Y here if you want to enable Emulate Hall IC Feature and
      send a event when cover is detected.

      If unsure, say N.

config HALL_NEW_NODE
	bool "Chang the node location of HALL IC"
	default y
	depends on HALL
	depends on ANDROID_MAJOR_VERSION >= "r"
	help
	  Say Y here if you want to change the location of hall ic node.
	  it was decided with the framework to be changed from R OS
	  The previous versions of R OS are created before the change.
	  If unsure, say N.

config WACOM_HALL
    tristate "Enable WACOM HALL IC"
    default n
    help
      Say Y here if you want to enable Wacom Hall IC Feature and
      send a event when cover is detected.
      Active gpio state is low and active event value is 1.

      If unsure, say N.

