[submodule "scripts/packaging"]
	path = scripts/packaging
	url = https://github.com/Roynas-Android-Playground/kernel_packaging

[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU
