[submodule "scripts/packaging"]
	path = scripts/packaging
	url = https://github.com/Exynos9611-Development/kernel_packaging

[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU
